@use 'base/variables' as v;
@use 'base/mixins' as m;

.reset {
    margin-top: 5rem;

    .uptask {
        @include m.textGradient(v.$blue);
    }

    input[type="submit"] {
        @include m.button(v.$blue, v.$white);
        border-radius: .5rem;
    }

    .actions {
        a {
            color: v.$blue;
        }
    }
}