@use 'base/variables' as v;
@use 'base/mixins' as m;

.mobile-bar {
    background-color: v.$indigo;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include m.tablet {
        display: none;
    }

    h1 {
        color: v.$white;
        margin: 0;
    }

    img {
        width: 1rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.bar {
    display: none;

    @include m.tablet {
        background-color: v.$white;
        padding: 1rem 2rem;
        box-shadow: 1px 12px 9px -13px rgba(0, 0, 0, .4);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        margin: 0;
        font-size: 1.4rem;

        span {
            font-weight: 700;
            color: v.$indigo;
        }
    }

    .log-out {
        @include m.button(v.$indigo, v.$white);
        font-size: 1.2rem;
        padding: 1rem;
        border-radius: .5rem;
    }
}